body {
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

header {
    display: flex;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
color: #bb1b96ee;
 font-size: 40px;
 text-transform: uppercase;
 justify-content: center;
 align-items: center;
 gap: 28px;
}