body {
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

header {
    display: flex;
    width: 100%;
}

.nav-lista {
    display: flex;
    list-style: none;
color: #bb1b96ee;
 font-size: 40px;
 text-transform: uppercase;
 justify-content: center;
 align-items: center;
 gap: 28px;
}

.nav-item:hover {
    cursor: pointer;
    background-color: black;
    color: aqua;
}
section{
    width:100% ;
    padding-left: 8%;
}
.secao{
    padding-top: 8%;
    padding-right: 2%;
}
.moldura_videos{
    display: flex;
flex-wrap: wrap;
justify-content: space-around;
}